body {
    background-color: #0d1117;
    margin: 0;
    color: #c9d1d9;
    font-family: monospace;
}
input {
    color: #c9d1d9;
}
button {
    color: #c9d1d9;
    border-radius: 10px;
}
#player-selection {
    position: fixed;
    background-color: #0d1117;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
#player-selection div {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    height: 500px;
    width: 500px;
}
#player-selection div input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 60px;
    width: 300px;
    background-color: #161b22;
    border: #c9d1d9 1px solid;
    border-radius: 10px;
}
#comp {
    position: absolute;
    right: 20px;
    top: 108px;
    height: 60px;
    width: 60px;
    background-color: #343c47;
    border: none;
    cursor: pointer;
}
#submit {
    width: 80px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #343c47;
    border: none;
    cursor: pointer;
}
.start {
    position: fixed;
    background-color: #0d1117;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.start button {
    display: block;
    width: 80px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #343c47;
    border: none;
    cursor: pointer;
    font-size: xx-large;
}
#shipPlacer {
    margin: auto;
    margin-top: 20px;
}
#gameboards-container {
    display: block;
    margin: auto;
    width: 600px;
}
.gameboard {
    display: grid;
    margin-top: 25px;
    margin-bottom: 25px;
    grid-template-columns: repeat(10, auto);
    background-color: #161b22;
    height: 600px;
    width: 600px;
}
.square {
    background-color: #30363d;
    height: 58px;
    width: 58px;
    border-radius: 10px;
    border: black solid 1px;
    cursor: pointer;
}
.square:hover {
    background-color: #454e58;
}
.square-occupied {
    background-color: rgb(117, 117, 105);
}
.miss {
    background-color: rgb(18, 18, 144);
}
.hit {
    background-color: rgb(168, 2, 2);
}
.skull {
    background-color: rgb(34, 34, 34);
}
.shadow {
    background-color: gray;
}
#pass {
    position: fixed;
    background-color: #0d1117;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
#pass button {
    display: block;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 200px;
    background-color: #343c47;
    font-size: xx-large;
}
h1 {
    text-align: center;
}
#p1 {
    position: absolute;
    top: 20px;
    left: 10px;
}
#p2 {
    position: absolute;
    top: 108px;
    left: 10px;
}
