body {
    background-color: gray;
    margin: 0;
}
#player-selection {
    position: fixed;
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
#player-selection div {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: gray;
    margin: auto;
    margin-top: 100px;
    height: 500px;
    width: 500px;
}
#player-selection div input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 60px;
    width: 300px;
}
#comp {
    position: absolute;
    right: 20px;
    top: 108px;
    height: 60px;
    width: 60px;
}
#submit {
    width: 80px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.start {
    position: fixed;
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.start button {
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}
#shipPlacer {
    margin: auto;
    margin-top: 100px;
}
#gameboards-container {
    display: block;
    margin: auto;
    width: 600px;
}
.gameboard {
    display: grid;
    margin-top: 25px;
    margin-bottom: 25px;
    grid-template-columns: repeat(10, auto);
    background-color: aquamarine;
    height: 600px;
    width: 600px;
}
.square {
    background-color: beige;
    height: 58px;
    width: 58px;
    border-radius: 10px;
    border: black solid 1px;
}
.square-occupied {
    background-color: rgb(117, 117, 105);
}
.miss {
    background-color: blue;
}
.hit {
    background-color: red;
}
.skull {
    background-color: black;
}
.shadow {
    background-color: gray;
}
